---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";



@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.vertical-scroll-table {
  max-height: 50px; /* Limits the visible height */
  overflow-y: auto; /* Adds a vertical scrollbar if needed */
  display: block; /* Required for some table display settings */
}
